version: '3.7'

services:
  designer:
    container_name: nussknacker_designer
    image: ${NUSSKNACKER_IMAGE-touk/nussknacker}:${NUSSKNACKER_VERSION}
    ports:
      - "3081:8080"
    environment:
      #multiple, comma separated, config files can be used. They will be merged in order, via HOCON fallback mechanism
      #https://github.com/lightbend/config/blob/master/HOCON.md#config-object-merging-and-file-merging
      CONFIG_FILE: ${NUSSKNACKER_CONFIG_FILE-/opt/nussknacker/conf/application.conf,/opt/nussknacker/conf/nussknacker.conf}
      JDK_JAVA_OPTIONS: -Xmx256M
      FLINK_ROCKSDB_CHECKPOINT_DATA_URI: file:///opt/flink/data/rocksdb-checkpoints
      FLINK_REST_URL: http://jobmanager:8081
      FLINK_QUERYABLE_STATE_PROXY_URL: taskmanager:9069
      KAFKA_ADDRESS: kafka:9092
      SCHEMA_REGISTRY_URL: http://schemaregistry:8081
      COUNTS_URL: http://influxdb:8086/query
      OPENAPI_SERVICE_URL: http://customerservice:5000
      SQL_ENRICHER_URL: nussknacker_postgres:5432
    volumes:
      - storage_designer:/opt/nussknacker/storage
      #this is needed to be able to verify savepoints during deployments
      - storage_flink:/opt/flink/data
      - ./nussknacker/nussknacker.conf:/opt/nussknacker/conf/nussknacker.conf

volumes:
  storage_designer:
    name: nussknacker_storage_designer
  storage_flink:
    name: nussknacker_storage_flink

networks:
  default:
    name: nussknacker_network
